@keyframes blink {
    0% {opacity: 0;}
    20% {opacity: 0.5;}
    35% {opacity: 0.25;}
    45% {opacity: 0.75;}
    55% {opacity: 0.5;}
    70% {opacity: 0.8;}
    85% {opacity: 0.9;}
    100% {opacity: 1;}
}

/**
 * Common
 */
body {
    margin: 0;
    max-width: 100vw;
    font-family:Arial, Helvetica, sans-serif;
}

pre, code {
    overflow: auto;
}

/**
 * Header and Navigator.
 */
#header {
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

#nav {
    background-color: #009688;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#nav .navItem {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-family:Arial, Helvetica, sans-serif;
    width: 100px;
}

#nav .navItem:first-child {
    margin-left: 40px;
}

#logo {
    width: 80px;
    height: auto;
    margin: 10px 30px 10px 30px;
}

#name {
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
}

/**
 * Left side panels, including problem info and output.
 */
#pageContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: calc(100vh - 150px);
}

.leftPanel {
    display: flex;
    flex-direction: column;
    min-width: 420px;
    height: 100%;
}

#problemDescription {
    position: relative;
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    width: 400px;
    margin: 20px 20px 10px 20px;
}

#problemTitle {
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0;
}

#problemPassed {
    display: none;
    position: absolute;
    right: 0;
    font-weight: 200;
    font-size: 0.8em;
    padding: 4px 15px;
    margin: 20px 10px;
    background-color: #2E7D32;
    border: none;
    border-radius: 4px;
    color: #fff;
    height: 20px;
}

#problemPassed.show{
    display: initial;
    animation: blink 2s linear;
}

#problemDescription p.notes {
    font-weight: 100;
    font-size: 0.8em;
}

#outputPanel {
    width: 400px;
    height: 100%;
    margin: 0 20px;
    overflow: auto;
}

#outputPanel > input {
    display: none;
}

#outputPanel > label {
    background: #C8E6C9;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px 8px 0 0;
    height: 20px;
    width: 80px;
}

#outputPanel > div {
    display: none;
    background: #E8F5E9;
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 100px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#outputPanel > input:checked + label {
    background: #E8F5E9;
}

#outputPanel select {
    width: 100%;
    padding: 2px 8px;
    margin-bottom: 10px;
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
}
#testTab:checked ~ #testContent,
#codeTab:checked ~ #codeContent {
    display: block;
}

#testContent {
    position: relative;
}

#yourResult::after {
    padding-left: 15px;
    content: attr(status);
}

#yourResult.correct::after {
    color: #388E3C;
}

#yourResult.wrong::after {
    color: red;
}

#testContent #buttons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#testButton, #submitButton {
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    border: 2px solid #388E3C;
    border-radius: 4px;
    cursor:pointer;
}

#testButton {
    background-color: #fff;
    color: #388E3C;
}

#testButton:hover {
    background-color: #f5f5f5;
}

#submitButton {
    background-color: #388E3C;
    color: #fff;
}

#submitButton:hover {
    background-color: #2E7D32;
}

#outputPanel .seperator {
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}

#generatedCode {
    height: calc(100% - 20px);
    background-color: #E8F5E9;
    margin: 0;
}

/**
 * Blockly panel.
 */
#blocklyDiv {
    margin: 20px;
    flex-basis: 100%;
    height: calc(100% - 40px);
    min-width: 600px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

